<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Hustling Bears' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('thb.png')%>">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900&amp;subset=latin-ext" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success m-b-0"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger m-b-0"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
